html {
    font-size: 14px;
}

@media screen and (min-width: 600px) {
    html {
        font-size: 16px;
    }
}

body {
    font-family: "Raleway";
    background: #FFFFFF;
}

header {
    background: #309060;
    border-bottom: 2px solid #ccc;
}

em {
    font-style: italic;
}

h1 {
    padding: 1rem;
    color: #ffffff;
    font-size: 1.3rem;
    font-weight: 800;
    max-width: 1120px;
    margin: 0 auto;
}

main {
    max-width: 1120px;
    margin: 0 auto;
    padding: 1rem;
    background: #f8f8ff;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    opacity: .5;
}

#langselect {
	display: flex;
	justify-content: flex-end;
    line-height: 2em;
}

#langselect li {
	margin-left: 5px;
}

#filterselect {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.filtertag {
    padding: .4em;
    margin: .2em;
    background: #e0e0e0;
    border-radius: 2px;
	flex-grow: 1;
}

.filtertag.active {
    color: #ffffff;
    background: #404040;
}

#contacts {
	display: flex;
    line-height: 2rem;
    font-size: 1.1rem;
}

.contact-link {
    padding: 0 .5rem;
    margin: .15rem .2rem .15rem 0;
    background: #603090;
    color: #ffffff;
    border-radius: .3rem;
}

#projects {
    font-size: 0;
    margin: 1rem 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.project {
    font-size: 1rem;
    box-shadow: 1px 1px 2px #999;
    position: relative;
    height: 200px;
    max-height: 320px;
    width: 200px;
    overflow: hidden;
    margin: .75rem;
    background: #ffffff;
    transition: width .5s, height .5s;
	display: flex;
}

.project.show-detail {
    width: 100%;
    height: auto;
    margin: .5rem 0;
}

.project.hidden {
    width: 0;
    height: 0;
    margin: 0;
}

.project-image {
    height: 200px;
	flex-basis: 0 0 200px;
}

.project-image img {
    max-width: 100%;
}

.project-title {
    font-size: 1.1em;
    font-weight: 800;
    position: absolute;
    left: 0;
    top: 0;
    width: 200px;
    box-sizing: border-box;
    padding: 8px;
    color: #202060;
    text-shadow: 0 1px 1px #ffffff;
    background: rgba(255,255,240,.8);
}

.project-contents {
    opacity: 0;
    transition: opacity 1s;
    overflow: auto;
	max-height: 200px;
	width: 0;
}
	
.show-detail .project-contents {
    opacity: 1;
	flex-grow: 1;
}

.project-description {
    line-height: 1.2em;
    margin: 10px;
}

@media screen and (max-width: 479px) {
        
    .show-detail .project-image {
        display: none;
    }
	
	.project-title {
		width: 100%;
	}
	
	.project-description {
		margin-top: 50px;
	}
}

@media screen and (min-width: 480px) {
    .project {
        width: 200px;
        height: 200px;
    }
  
}

.project-description a {
    color: #2020ff;
    text-decoration: underline;
}

.project-description a:hover {
    text-decoration: none;
}

.project-links, .project-metadata-list {
    margin: 8px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.project-link {
    padding: 5px;
    margin: 2px 3px 2px 0;
    background: #903030;
    color: #ffffff;
    border-radius: 3px;
}

.project-metadata {
    font-style: italic;
    padding: 4px;
    margin: 2px 4px 2px 0;
    background: #e0e0e0;
    border-radius: 2px;
}

.multilang {
    display: inline;
}

.multilang li {
    display: inline;
}

li.inactive-language {
    display: none;
}

#langselect li.active {
    font-weight: 800;
}

footer {
    text-align: right;
    font-size: 12px;
    margin: 20px 0 0;
}
